html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	color: white;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family:cursive;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------------------------------------------------------------*/

body {

	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: 3s ease-in-out;
  }

header a {
    display: flex;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
}

header a h2 img {
    width: 40px;
    filter: invert(1);
}

#indexMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;

}

.relojIndex, .meteorologiaIndex,.generadorIndex {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 100px;
    padding: 20px;
}




/*--Enlaces--*/

.enlacesIndex {
	display: flex;
    justify-content: center;
}

.lista {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
}

.titulo {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.titulo h2 img {
    width: 20px;
    filter: invert(1);
    margin-left: 5px;
}

.contenedorInput {
	display: flex;
    justify-content: center;
	flex-direction: column;
    gap: 15px;
	margin: 20px;
    padding: 10px;
}

#nombreInput, #enlaceInput, #registrarURL {
    padding: 5px;
}


.btn-default { 
    margin-left: 140px;
    width: 50px; height: 95px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,85,36,1) 60%, rgba(18,75,5,0.764384977623862) 93%);
    -moz-border-radius: 100px 0px;
    -webkit-border-radius: 100px 0px;
    border-radius: 100px 0px;
    transform: rotate(95deg);
    border: 1px white solid;
    border-right: 0px solid white;
    text-orientation: upright;
    text-align:left;
    font-size: 10px;
  
  }
  .clip-polygon {
  clip-path: polygon(0 55%, 0 0, 50% 0, 83% 0, 81% 14%, 97% 6%, 100% 20%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0 55%);
  }
  
  .textoBoton {
    display: block;
    transform: rotate(-95deg);
  }



#contenedorLinks {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100px;
    gap: 5px;
    padding: 5px;
    overflow-y: scroll;
}

.enlaceGuardado {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px;
}

.eliminar {
    width: 30px;
    height: 30px;
    border-radius: 0 80px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,121,9,1) 17%, rgba(6,205,99,1) 83%, rgba(3,40,31,1) 100%);
    transform: rotate(0deg) translateY(-9px) scale(0.8);
}

/*-- Main general para todos los HTML individuales --*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    flex-wrap: wrap;
    text-align: center;
}

/*--Reloj--*/

/*--Dentro de reloj.HTML --*/


.reloj{ 
    font-size: 100px;
}

.fecha {
    font-size: 50px;
    padding-top: 20px;
}

.frase {
    font-size: 25px;
    padding-top: 20px;
}

/*--Reloj del Index--*/

.relojIndex .reloj{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.relojIndex .reloj .hora{ 
    font-size: 50px;
    padding-top: 30px;
}

.relojIndex .reloj .fecha {
    font-size: 30px;
    padding-top: 20px;
}

/*-- estación Meteorologica--*/

.weather{
    width: 500px; 
    height: 300px;
    -moz-border-radius: 100px 0px;
    -webkit-border-radius: 100px 0px;
    border-radius: 100px 0px;
    background-color: #33333393;
    padding: 100px;   
}

.weather1 {
    clip-path: polygon(0 55%, 0 0, 50% 0, 83% 0, 81% 14%, 97% 6%, 100% 20%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0 55%);
    padding: 20px;

}

.current {
    display: flex;
    align-items: center;
}

.iconoTiempo {
    width: 80px;
}

.inconoCelcius {
    width: 30px;
    filter: invert(1);
}

.currentGradrosEIconos{
    display: flex;
    align-items: center;
    font-size: 50px;
    gap: 10px;
    padding: 20px;
}

#weatherTop{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#weatherBottom {
    display: flex;
    overflow-x: scroll;

}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #54a072 #91b28a;
  }

  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 0px;
    
  }

  ::-webkit-scrollbar-track {
    border: 1px solid rgba(224, 222, 222, 0.179);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,121,9,1) 17%, rgba(19,159,50,1) 47%, rgba(34,147,69,1) 57%, rgba(19,143,77,1) 83%, rgba(3,40,31,1) 100%);
    border-radius: 10px;

  }


.forecastPorHoras {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    gap: 15px;
    margin-bottom: 9px;
}

/*--Generador de contraseñas--*/

.password {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
}

.botonGenerar {
    padding: 10px;
    margin-top: 10px;
}

/*-- Footer --*/

footer {
    margin-top:20px;
    border-bottom: 2px solid white;
    max-width: 400px;
}

nav a img {
    margin: 20px;
    width: 40px;
    filter: invert(1);
}

@media screen and (max-width: 1100px) {
    .indexMenu {
        height: 1500px;
        gap: 40px;
    }
    .derecha .relojIndex {
        order: 1;
    }
    .izquierda{
        order:2;
    }
    .derecha .generadorContraseñas footer {
        order: 3;
    }
}


